* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --color-blue-white-background: #5dade2;
  --color-text-grafite: #2f2f2f;
  --color-text-blue: #438cbd;

  --widt-center-screen: 70%;
}

body {
  background-color: var(--color-blue-white-background);
  background: linear-gradient(
    180deg,
    #f4fbff 6.21%,
    rgba(93, 173, 226, 0) 198.58%
  );
  color: var(--color-text-grafite);
  /* font-family: 'Lato', sans-serif; */
  font-family: "Roboto", sans-serif;
  /* font-family: 'Space Grotesk', sans-serif; */
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

/* style Menu bar */
.topMenu {
  width: var(--widt-center-screen);
  height: 6.5rem;
  padding: 10px 0px 10px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.topMenu ul {
  display: flex;
  flex-direction: row;
  gap: 2.5rem;
}

.topMenu ul li {
  list-style: none;
}

.topMenu ul li a {
  text-decoration: none;

  font-family: "Lato", sans-serif;
  font-size: 1.2rem;
  font-weight: 600;

  color: var(--color-text-blue);
}

/* Style section Initial */
.initial {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  width: var(--widt-center-screen);

  font-family: "Roboto", sans-serif;
}

.descriptInitial {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  height: 450px;
}

.descriptInitial p {
  font-weight: 500;
  letter-spacing: 0.9px;
}

.descriptInitial h1 {
  color: var(--color-text-blue);
  margin: 5px 0px 20px 0px;

  font-weight: 700;
  font-size: 2rem;
}

.initial .logo {
  max-height: 450px;
}

.emailCopy {
  display: flex;
  position: relative;
}
.emailText {
  display: flex;
  width: 20rem;
  height: 3.5rem;
  background-color: rgba(10, 10, 10, 0.3);
  border-top: 1px solid;
  border-bottom: 1px solid;

  justify-content: center;
  align-items: center;

  font-weight: 700;
  font-size: 1.1rem;
}

.btnCopy {
  border: none;
  background-image: url("../img/icons/copy.png");
  border-radius: 0px 7px 7px 0px;
  border-right: 1px solid black;
  border-left: 1px solid black;
}

.btnEmail {
  border: none;
  border-left: 1px solid black;

  background-image: url("../img/icons/email.png");
  border-radius: 7px 0px 0px 7px;
}

.btnCopy:active + .labelCopy {
  display: flex;
}
.btnCopy:active {
  background-color: rgba(10, 10, 10, 0.5);
}

.labelCopy {
  display: none;
  position: absolute;
  right: -80px;
  top: 10px;
  align-items: center;
  justify-content: center;

  color: whitesmoke;
  font-weight: 700;
  background-color: green;
  border-radius: 10px;
  padding: 5px;
}

.backgroundIMG {
  width: 3.5rem;
  height: 3.5rem;
  background-color: rgba(10, 10, 10, 0.3);
  border-top: 1px solid black;
  border-bottom: 1px solid black;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
}
.socialIcons {
  display: flex;
  gap: 1rem;

  margin-top: 1rem;
}

.socialButton {
  display: flex;
  width: 3rem;
  height: 3rem;

  background-color: transparent;

  border: none;
  background-repeat: no-repeat;
  background-size: contain;

  transition: all 0.5s;
}
.socialButton:hover {
  transform: scale(1.2);
}

.linkedinIcon {
  background-image: url("../img/icons/linkedin.svg");
}
.gitHubIcon {
  background-image: url("../img/icons/github.svg");
}
.facebookIcon {
  background-image: url("../img/icons/facebook.svg");
}

.cursorPointerHover:hover {
  cursor: pointer;
}

.copy {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Style section tecnologic */

/* Style section Works */

/* Style section Footer */
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: 2rem;
  width: 100%;
  height: 7rem;

  background-color: rgba(10, 10, 10, 0.6);
}

.footer span {
  width: var(--widt-center-screen);
  text-align: center;
}

.footer a {
  font-weight: 700;
  color: var(--color-text-blue);
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}
