@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

svg {
  font-family: "Lato", sans-serif;
}
svg text {
  animation: stroke 5s;
  stroke-width: 1;
  fill: rgb(69, 106, 167);
}
@keyframes stroke {
  0% {
    fill: rgba(72, 138, 204, 0);
    stroke: rgba(54, 95, 160, 1);
    stroke-dashoffset: 25%;
    stroke-dasharray: 0 50%;
    stroke-width: 1;
  }
  70% {
    fill: rgba(72, 138, 204, 0);
    stroke: rgba(54, 95, 160, 1);
  }
  80% {
    fill: rgba(72, 138, 204, 0);
    stroke: rgba(54, 95, 160, 1);
    stroke-width: 1;
  }
  100% {
    fill: rgba(72, 138, 204, 1);
    stroke-dashoffset: -25%;
    stroke-dasharray: 50% 0;
    stroke-width: 0;
  }
}

.wrapper {
  background-color: none;
}
