.cardWork {
  display: flex;
  position: relative;
  max-width: 50rem;
  max-height: 15.5rem;

  font-family: "Roboto";

  background-color: rgba(0, 0, 0, 0.5);
  border-left: 5px solid var(--color-text-blue);

  box-shadow: 4px 4px 8px rgba(10, 10, 10, 0.6);
  transition: all 0.5s;
}

.cardWork:hover {
  transform: scale(1.05);
  box-shadow: 6px 6px 10px rgba(10, 10, 10, 0.6);
}

.sideCard {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.cardInfo {
  max-width: 28rem;
  word-break: break-all;
  height: 100%;
  overflow: auto;

  font-size: 0.9rem;
  font-weight: 600;
  color: #d4d4d4;

  font-weight: 500;
}

.cardWork img {
  width: 40%;
}

.sideCard h2 {
  position: relative;
  font-weight: 800;
  font-size: 1.2rem;

  top: 0;
  color: whitesmoke;
}

.cardBottom {
  display: flex;
  width: 100%;
  height: 2rem;
  align-items: center;
  justify-content: space-between;

  position: relative;
  bottom: -10px;
}

.cardTecs {
  display: flex;
  gap: 0.8rem;
}
.cardTecs img {
  width: 35px;
}

.cardBottom input {
  width: 4rem;
  height: 1.5rem;
  text-align: right;
  padding-right: 2px;
  background-image: url("../img/icons/eye.svg");

  background-repeat: no-repeat;
  background-position: 2px;
  background-size: 1.5rem;

  font-weight: 700;

  border: none;

  background-color: transparent;

  transition: all 0.5s;
  cursor: pointer;
}

.cardBottom input:hover {
  color: var(--color-text-white);
  width: 4.2rem;
}
