* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --color-blue-white-background: #5dade2;
  --color-text-grafite: #2f2f2f;
  --color-text-blue: #438cbd;
  --color-dark-blue-background: #00000080;
  --color-text-white: #ececec;

  --widt-center-screen: 70%;
}

body {
  background: linear-gradient(
    180deg,
    #f4fbff 6.21%,
    rgba(93, 173, 226, 0) 198.58%
  );
  color: var(--color-text-grafite);
  /* font-family: 'Lato', sans-serif; */
  font-family: "Roboto", sans-serif;
  /* font-family: 'Space Grotesk', sans-serif; */
}

.emailCopy {
  display: flex;
  position: relative;
}
.emailText {
  display: flex;
  width: 20rem;
  height: 3.5rem;
  background-color: rgba(10, 10, 10, 0.3);
  border-top: 1px solid;
  border-bottom: 1px solid;

  justify-content: center;
  align-items: center;

  font-weight: 700;
  font-size: 1.1rem;
}

.btnCopy {
  border: none;
  background-image: url("../img/icons/copy.png");
  border-radius: 0px 7px 7px 0px;
  border-right: 1px solid black;
  border-left: 1px solid black;
}

.btnEmail {
  border: none;
  border-left: 1px solid black;

  background-image: url("../img/icons/email.png");
  border-radius: 7px 0px 0px 7px;
}

.btnCopy:active {
  background-color: rgba(10, 10, 10, 0.5);
}

.labelCopy {
  display: none;
  position: absolute;
  right: -90px;
  top: 10px;
  align-items: center;
  justify-content: center;

  color: whitesmoke;
  font-weight: 700;
  background-color: green;
  border-radius: 10px;
  padding: 5px;
}

.backgroundIMG {
  width: 3.5rem;
  height: 3.5rem;
  background-color: rgba(10, 10, 10, 0.3);
  border-top: 1px solid black;
  border-bottom: 1px solid black;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
}
.socialIcons {
  display: flex;
  gap: 1rem;

  margin-top: 1rem;
}

.socialButton {
  display: flex;
  width: 3rem;
  height: 3rem;

  background-color: transparent;

  border: none;
  background-repeat: no-repeat;
  background-size: contain;

  transition: all 0.5s;
}
.socialButton:hover {
  transform: scale(1.2);
}

.linkedinIcon {
  background-image: url("../img/icons/linkedin.svg");
}
.gitHubIcon {
  background-image: url("../img/icons/github.svg");
}
.facebookIcon {
  background-image: url("../img/icons/facebook.svg");
}
.whatsappIcon {
  background-image: url("../img/icons/whatsapp.svg");
}

.cursorPointerHover:hover {
  cursor: pointer;
}

.copy {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Style section tecnologic */
.tecnologic {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 26rem;
  background-color: var(--color-dark-blue-background);
}
